All apps need to allow the user to perform some types of interaction with the data that is stored. In our case, the first type of interaction is to insert new tasks, or our app would not have much value, would it?

One of the main ways in which a user can insert or edit data in a website is through forms, in most cases it is a good idea to use the `<form>` tag since it gives semantic meaning to the elements inside it.

## Step 3.1: Create Task Form

{{{diffStep 3.1 noTitle=true}}}

## Step 3.2: Add Submit Handler

{{{diffStep 3.2 noTitle=true}}}

## Step 3.3: Show Newest Tasks First

{{{diffStep 3.3 noTitle=true}}}
